In [73]:
##universal setting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import shapely
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [64]:
# data location
read_location="C:/Selina/Class/(DS_MS)/Capstone/DataSet/"
save_location="C:/Selina/Class/(DS_MS)/Capstone/Result/"
#plot color setting (https://matplotlib.org/3.1.1/gallery/color/colormap_reference.html)
my_cmap=plt.cm.get_cmap("Pastel2")
#for geopandas setting
crs={'init': 'epsg:4326'}

In [65]:
#import data
data=pd.read_csv(read_location+"AB_NYC_2019.csv",index_col=False)
#data = data.reset_index()
print(data.columns)
#define the name of algebra
y="price"

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [66]:
#variables of categorical data 
x_rt="room_type"
enc_rt= OneHotEncoder(handle_unknown='ignore')
a=enc_rt.fit_transform(data[x_rt].values.reshape((-1,1))).toarray()
df_a=pd.DataFrame(a, columns=enc_rt.categories_[0])
data = pd.concat([data, df_a], axis=1)

x_ng="neighbourhood_group"
enc_ng= OneHotEncoder(handle_unknown='ignore')
a=enc_ng.fit_transform(data[x_ng].values.reshape((-1,1))).toarray()
df_a=pd.DataFrame(a, columns=enc_ng.categories_[0])
data = pd.concat([data, df_a], axis=1)

print(data.head(3))

     id                                 name  host_id  host_name  \
0  2539   Clean & quiet apt home by the park     2787       John
1  2595                Skylit Midtown Castle     2845   Jennifer
2  3647  THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth

  neighbourhood_group neighbourhood  latitude  longitude        room_type  \
0            Brooklyn    Kensington  40.64749  -73.97237     Private room
1           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt
2           Manhattan        Harlem  40.80902  -73.94190     Private room

   price  ...  calculated_host_listings_count  availability_365  \
0    149  ...                               6               365
1    225  ...                               2               355
2    150  ...                               1               365

  Entire home/apt  Private room  Shared room  Bronx  Brooklyn  Manhattan  \
0             0.0           1.0          0.0    0.0       1.0        0.0
1             1.0           0.0          0.0    0.0       0.0        1.0
2             0.0           1.0          0.0    0.0       0.0        1.0

   Queens  Staten Island
0     0.0            0.0
1     0.0            0.0
2     0.0            0.0

[3 rows x 24 columns]

In [67]:
drop_list=[x_ng,x_rt,'id', 'name', 'host_id', 'host_name','neighbourhood',"last_review"]
data=data.drop(columns=drop_list)
print(data.head(3))

   latitude  longitude  price  minimum_nights  number_of_reviews  \
0  40.64749  -73.97237    149               1                  9
1  40.75362  -73.98377    225               1                 45
2  40.80902  -73.94190    150               3                  0

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365

   Entire home/apt  Private room  Shared room  Bronx  Brooklyn  Manhattan  \
0              0.0           1.0          0.0    0.0       1.0        0.0
1              1.0           0.0          0.0    0.0       0.0        1.0
2              0.0           1.0          0.0    0.0       0.0        1.0

   Queens  Staten Island
0     0.0            0.0
1     0.0            0.0
2     0.0            0.0

In [68]:
#drop price=0
data=data[data[y]!=0]
data = data.reset_index(drop=True)
data.head(3)

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Entire home/apt,Private room,Shared room,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,40.64749,-73.97237,149,1,9,0.21,6,365,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,40.75362,-73.98377,225,1,45,0.38,2,355,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,40.80902,-73.94190,150,3,0,NaN,1,365,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [69]:
#fill na of variable
data['reviews_per_month']=data['reviews_per_month'].replace(np.nan, 0)

In [70]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=[y]), data[y], test_size=0.3, random_state=1234)
print(X_train.head(3))
print("--------------")
print(y_train.head(3))

       latitude  longitude  minimum_nights  number_of_reviews  \
35448  40.73449  -73.98473               1                 28
35433  40.70798  -74.00591              29                  0
7561   40.68699  -73.96049               3                146

       reviews_per_month  calculated_host_listings_count  availability_365  \
35448               2.75                               1                25
35433               0.00                              96               189
7561                2.93                               2               135

       Entire home/apt  Private room  Shared room  Bronx  Brooklyn  Manhattan  \
35448              1.0           0.0          0.0    0.0       0.0        1.0
35433              1.0           0.0          0.0    0.0       0.0        1.0
7561               1.0           0.0          0.0    0.0       1.0        0.0

       Queens  Staten Island
35448     0.0            0.0
35433     0.0            0.0
7561      0.0            0.0
--------------
35448    250
35433    299
7561     188
Name: price, dtype: int64

In [97]:
#standardization for variables 
x_nfr="number_of_reviews"
scaler_nfr= StandardScaler()
print(X_train[x_nfr].head())
scaler_nfr.fit(X_train[x_nfr].values.reshape((-1,1)))
X_train[x_nfr]=scaler_nfr.transform(X_train[[x_nfr]])
X_test[x_nfr]=scaler_nfr.transform(X_test[[x_nfr]])

#standardization for variables 
x_rpm="reviews_per_month"
scaler_nfr= StandardScaler()
print(X_train[x_nfr].head())
scaler_nfr.fit(X_train[x_nfr].values.reshape((-1,1)))
X_train[x_nfr]=scaler_nfr.transform(X_train[[x_nfr]])
X_test[x_nfr]=scaler_nfr.transform(X_test[[x_nfr]])

35448   -0.536234
35433   -0.536234
7561    -0.536233
15926   -0.536234
6853    -0.536234
Name: number_of_reviews, dtype: float64

In [96]:
a=scaler_nfr.transform(X_train[[x_nfr]])
X_train[x_nfr]=a
X_train.shape

(34218, 15)